#a{
    border: 1px solid;
}

ul{
    display: flex;
    list-style: none;
    background-color:rgb(14, 123, 195);
    margin-top: 0;
}

li{
    padding: 20px;
}

#remove{
    text-decoration: none;
    color: black;
}


li a{
    display: block;
    text-decoration: none;
    color: black;
}

li:hover{
    text-align: center;
    background-color: rgb(14, 78, 121);
    color: white
}

td a h1:hover{
    color:white;
}

li a:hover{
    color: white;
}

td a:hover{
    background-color: rgb(14, 78, 121);
    color: white;
}

footer{
    background-color:rgb(14, 123, 195);
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

