header{
    text-decoration:none;
}

body, header, footer{
    background-color: black;
    color:blanchedalmond
}


nav{
    display: flex;
    background-color: rgb(13, 78, 122);
    margin-left: 0px;  
}


nav ul{
    display: flex;
    border:10px;
}

nav ul li{
    padding-right: 100px;
}


tr td a, ul li a{
    background-color: rgb(13, 78, 122);
    color:blanchedalmond;
}

tr td a:hover, ul li a:hover{
    background-color: rgb(14, 143, 229);
    color: aquamarine;
    padding: 15px;
}